@inject IViewLocalizer _local;
@{
    ViewData["Title"] = _local["Galery"];
}

<div class="container my-container">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
    </div>
    <br />
    <hr />
    @for (int? i = 1; i < ViewBag.imgKitchensLength; i++)
    {
        <div class="col-md-1 img-container">
            <a href="~/images/Ideal_galery/@ViewBag.Kitchens/@ViewBag.Kitchens-@(i).jpg">
                <img style="width:450px; height:250px;" class="img-thumbnail"
                     src="~/images/Ideal_galery/@ViewBag.Kitchens/@ViewBag.Kitchens-@(i).jpg" />
            </a>
        </div>
    }
    @for (int? i = 1; i < ViewBag.imgKitchensLength; i++)
    {
        <div class="col-md-1 img-container">
            <a href="~/images/Ideal_galery/@ViewBag.Wardrobes/@ViewBag.Wardrobes-@(i).jpg">
                <img style="width:450px; height:250px;" class="img-thumbnail"
                     src="~/images/Ideal_galery/@ViewBag.Wardrobes/@ViewBag.Wardrobes-@(i).jpg" />
            </a>
        </div>
    }
    @for (int? i = 1; i < ViewBag.imgBathroomFurnitureLength; i++)
    {
        <div class="col-md-1 img-container">
            <a href="~/images/Ideal_galery/@ViewBag.BathroomFurniture/@ViewBag.BathroomFurniture-@(i).jpg">
                <img style="width:450px; height:250px;" class="img-thumbnail"
                     src="~/images/Ideal_galery/@ViewBag.BathroomFurniture/@ViewBag.BathroomFurniture-@(i).jpg" />
            </a>
        </div>
    }
    @for (int? i = 1; i < ViewBag.imgLivingRoomFurnitureLength; i++)
    {
        <div class="col-md-1 img-container">
            <a href="~/images/Ideal_galery/@ViewBag.LivingRoomFurniture/@ViewBag.LivingRoomFurniture-@(i).jpg">
                <img style="width:450px; height:250px;" class="img-thumbnail"
                     src="~/images/Ideal_galery/@ViewBag.LivingRoomFurniture/@ViewBag.LivingRoomFurniture-@(i).jpg" />
            </a>
        </div>
    }
    @for (int? i = 1; i < ViewBag.imgWallBedsLength; i++)
    {
        <div class="col-md-1 img-container">
            <a href="~/images/Ideal_galery/@ViewBag.WallBeds/@ViewBag.WallBeds-@(i).jpg">
                <img style="width:450px; height:250px;" class="img-thumbnail"
                     src="~/images/Ideal_galery/@ViewBag.WallBeds/@ViewBag.WallBeds-@(i).jpg" />
            </a>
        </div>
    }
    @for (int? i = 1; i < ViewBag.imgChildrensFurnitureLength; i++)
    {
        <div class="col-md-1 img-container">
            <a href="~/images/Ideal_galery/@ViewBag.ChildrensFurniture/@ViewBag.ChildrensFurniture-@(i).jpg">
                <img style="width:450px; height:250px;" class="img-thumbnail"
                     src="~/images/Ideal_galery/@ViewBag.ChildrensFurniture/@ViewBag.ChildrensFurniture-@(i).jpg" />
            </a>
        </div>
    }
    @for (int? i = 1; i < ViewBag.imgOtherLength; i++)
    {
        <div class="col-md-1 img-container">
            <a href="~/images/Ideal_galery/@ViewBag.Other/@ViewBag.Other-@(i).jpg">
                <img style="width:450px; height:250px;" class="img-thumbnail"
                     src="~/images/Ideal_galery/@ViewBag.Other/@ViewBag.Other-@(i).jpg" />
            </a>
        </div>
    }
    <partial name="_BackToTopPartial" />
</div>
<link href="~/css/Product/galery.css" rel="stylesheet" />

