@model List<ProductVM>
@{
    ViewData["Title"] = "ProductType";
    
}

<div class="container my-container">
    <div class="col-md-12">
        <h2>@ViewBag.type</h2>
    </div>
    <br />
    <hr />
    @for (int i = 1; i <= ViewBag.imgLength; i++)
    {
        <div class="col-sm-1 col-md-1 img-container">
            <a href="~/images/Ideal_galery/@ViewBag.productType/@ViewBag.productType-@(i).jpg">
                <img style="width:450px; height:250px;" class="img-thumbnail" 
                     src="~/images/Ideal_galery/@ViewBag.productType/@ViewBag.productType-@(i).jpg" asp-append-version="true" />
            </a>
            <h3>@ViewBag.type - @(i)</h3>
        </div>
        @if(i == 8)
        {
            <div class="row"></div>
        }
    }    
    <partial name="_BackToTopPartial" />
</div>
<link href="~/css/Product/productType.css" rel="stylesheet" />


