.img-container {
    width: 300px;
    height: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 35px;
}

h3 {
    background-color: black;
    color: white;
    border-radius: 20px;
    text-align: center;
    text-shadow: 2px 2px #0479c2;
    font-size: 16px;
}

@media (max-width: 1200px) {
    .img-container {
        width: 400px;
        height: 350px;
    }
}

@media (max-width: 991px) {
    .img-container {
        width: 400px;
        height: 300px;
        margin-left: 120px;
    }
}

@media (max-width: 767px) {
    .img-container {
        width: 350px;
        height: 300px;
        margin-left: 18px;
    }
}
@media only screen and (max-width: 400px) {
    .img-container{
        width:300px;
        margin-left:-15px;
    }
}
