@model UserVM
@inject IViewLocalizer _local;

@{
    ViewData["Title"] = Model.Username;
}
<div class="container my-container">
    <div class="col-md-12">
        <h2>@ViewData["Title"]</h2>
    </div>
    <div class="row"></div>
    <div class="col-md-2">
        <form enctype="multipart/form-data" class="form-typeOfProducts"
              asp-action="GetByUsername" asp-controller="User" method="post">
            <div class="row">
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Username" />
                <input type="hidden" asp-for="Fullname" />
                <div class=" col-md-10"></div>
                <div class="col-xs-1 col-md-2"></div>
                <div class="input-group">
                    @Html.DropDownListFor(product => product.ProductType, Html.GetEnumSelectList(Model.ProductType.GetType()), new { @class = "typeOfProducts" })
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-0 col-md-10"></div>
                <div class="col-xs-2 col-md-2"></div>
                <div class="upload">
                    <label asp-for="Photos" class="input-group labelImg fas fa-camera-retro"></label>
                    <br />
                    <input multiple asp-for="Photos" type="file" name="Photos" id="Photos" accept="image/jpeg"
                           class="input-group image" />
                    <span asp-validation-for="Photos" class="text-danger"></span>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-xs-0 col-md-10"></div>
                <div class="col-xs-2 col-md-4">
                    <button type="submit" class="btn btn-info" disabled>Upload</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-xs-3 col-md-5"></div>
    <div class="col-xs-1 col-md-1 container-nav">
        <ul class="list-group">
            <li class="list-group-item-text navbar-collapse">
                <a class="link-applicants" asp-area="" asp-controller="Career" asp-action="Applicants">
                    APPLICANTS
                </a>
            </li>
        </ul>
    </div>
    <div class="row"></div>
    <div class="col-xs-1 col-md-1"></div>
    <div class="container-msg col-xs-4  col-md-3">
        <p class="upload-msg"></p>
        <p class="text-danger">@ViewBag.imgError</p>
        <p class="text-danger error-msg">@ViewBag.ImageError</p>
    </div>
</div>
<link href="~/css/User/getByUser.css" rel="stylesheet" />
<script src="~/js/getByUser.js"></script>