@model LoginVM
@inject IViewLocalizer _local;
@{
    ViewData["Title"] = _local["Login"];
}


<div class="container my-container">
    <h2 class="log-headihg"><span class="glyphicon glyphicon-log-in"> @ViewData["Title"]</span></h2>

    <div>
        <h3 class="info">@_local["Login is only for ADMIN"]</h3>
        <div col-md-12>
            <form asp-action="Login" asp-controller="User" method="post">
                <div class="row">
                    <div class="col-md2"></div>
                    <div class="col-md-4">
                        <label asp-for="Username"></label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                            <input class="form-control danger" type="text" asp-for="Username" />
                        </div>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md2"></div>
                    <div class="col-md-4">
                        <label asp-for="Password"></label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"></span></span>
                            <input class="form-control" type="password" asp-for="Password" />
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-5">
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-success">Log in</button>
                        </div>
                    </div>

                </div>
            </form>
            <br />
        </div>
    </div>

</div>

<style type="text/css">
    .my-container {
        /*border: 3px solid black;*/
        /*padding: 50px;*/
        margin-top: 250px;
        width: 100%;
        height: auto;
        background-color: #969696;
        padding-left: 130px;
    }
    
    .log-headihg {
        border: 1px solid rgb(255 255 255);
        width:250px;
        background-image:linear-gradient(140deg,rgb(179 66 66) 20%, rgb(120 31 179) 80%);
        color:rgb(255 255 255);
        border-radius:13px;
    }
    .info{
        color:rgb(66 65 65);
        text-shadow:rgb(255 255 255) 1px 1px 2px;
    }
</style>