@model LoginVM
@inject IViewLocalizer _local;
@{
    ViewData["Title"] = _local["Login"];
}

<div class="container my-container">
    <h2 class="log-headihg"><span class="glyphicon glyphicon-log-in"> @ViewData["Title"]</span></h2>
    <div>
        <h3 class="info">@_local["Login is only for ADMIN"]</h3>
        <div col-md-12>
            <form asp-action="Login" asp-controller="User" method="post">
                <div class="row">
                    <div class="col-md2"></div>
                    <div class="col-md-4">
                        <label asp-for="Username"></label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-user"></span></span>
                            <input class="form-control danger alert-danger" type="text" asp-for="Username" id="Username"/>
                        </div>
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md2"></div>
                    <div class="col-md-4">
                        <label asp-for="Password"></label>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1"><span class="glyphicon glyphicon-lock"></span></span>
                            <input class="form-control danger alert-danger" type="password" asp-for="Password" />
                        </div>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-5">
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-success">Log in</button>
                        </div>
                    </div>
                </div>
            </form>
            <br />
        </div>
    </div>
</div>
<link href="~/css/User/login.css" rel="stylesheet" />
